/* You can add global styles to this file, and also import other style files */

html, body { height: 50%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url('./assets/istanbul.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 20%;
}
a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    &:hover {
      text-decoration: underline;
    }
  }